
.big-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.etch-div {
    /*border: 1px solid black;*/
    margin: 0;
}

.hover {
    background-color: gray;
}