.big-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 1700px;
    height: 1600px;
}

.etch-div {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin: 0;
}

.hover {
    background-color: gray;
}