
.big-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.etch-div {
    margin: 0;
    background-color: white;
}

.hover {
    background-color: gray;
}

.button-div {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}